div{
    background-color: orangered;
    height:200px;
    width:200px;
    margin:50px;
    border: 5px;
    display: inline-block;
}
#static{
    position: static;
    background-color: darkmagenta;
    top: 100px;
    left:100px;
    
   
}
#absolute{
    position: absolute;
    background-color: darkmagenta;
    top: 100px;
    left:100px;

}
#relative{
    position:relative;
    background-color: darkmagenta;
    top: 100px;
    left:100px;

}
#fixed{
    position: fixed;
    background-color: darkmagenta;
    top: 100px;
    left:100px;

}
